@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  background-color: #1f1f1f;
  color: #fff;
}

.app {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 60px;
}

/* Card Component */

.logo {
  @apply font-bold text-5xl text-white;
}

.card {
  @apply w-fit justify-center items-center flex flex-col p-14 gap-8 card_border text-white;
  position: relative;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.card_border {
  @apply border rounded-[30px] border-zinc-500;
}

/* Home Component */

.home {
  @apply flex flex-col gap-[30px] m-[100px];
}

.light-border {
  @apply card_border w-fit px-[20px] py-[10px];
}
