@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Card Component */


.card_border {
  @apply border rounded-[30px] border-zinc-500;
}

/* Content Component */

.container {
  @apply flex flex-col gap-[200px] m-[100px];
  justify-content: center;
  align-items: center;
}

.light-border {
  @apply card_border w-fit px-[20px] py-[10px];
}

/* Nav Component */

.menu {
  @apply w-fit justify-center items-center flex flex-col p-5 gap-8 card_border text-white;
}

.active {
  background-color: green;
}

.desactive {
  background-color: red;
}
